# Various
sandbox*.py

# Data for TensorFlow
data/
input/
inception/
vgg16/
checkpoints/
checkpoints*
logs/
summary/
embs/

# PyCharm
.idea/

# Mac IOS
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IPython Notebook
.ipynb_checkpoints
25000/
.ipyno_launch/


# For other big data file
*.csv
feats/

# Executables
apps/
*.exe
